.header_container{
    max-width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(97, 136, 97);
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 2px rgb(97, 136, 97);
}
.header_content{
    margin: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_content_logo{


}
.header_content_links{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.header_text{
    font-family: Roboto;
    color: white;
    font-size: 19px;
}


@media (max-width:768px){
    .header_content_links{
      display: none;
    }
    .header_content{
        justify-content: center;
    }
}

.active{
    color: blue;
}